# Ignore the log files and the database used for all spec files
spec/database.db

# Ignore common dotfiles
.yardoc
*.rbc
*.swp
.DS_Store

# Ignore general files and directories
doc
pkg/*.gem

# Keep the .gitkeep files.
!.gitkeep
