# Ignore the log files and the database used for all spec files
spec/log/*
spec/resources/database.db
spec/resources/config.rb

# Ignore common dotfiles
#
.yardoc

# Ignore the YARD documentation, this can be generated manually as following:
doc

# Keep the .gitkeep files.
!.gitkeep

# Ignore all packages
pkg/*.gem
