./lib/zen/**/*.rb ./lib/zen.rb
-m markdown
-M redcarpet
-o ./doc
-r ./README.md
-e ./lib/yard/tags.rb
--private
--protected
--asset ./guide/images:images
--asset ./guide/css/common.css:css/common.css
-
./guide/*.md
./guide/javascript/*.md
LICENSE
